[Unit]
Description=Chess Engine Node.js API
After=network.target
Before=nginx.service

[Service]
Type=simple
User=daviszinho
WorkingDirectory=/home/daviszinho/ChessEngineAPI
Environment=NODE_ENV=production PORT=3000
ExecStart=/usr/bin/node src/server.js
Restart=always
RestartSec=10
StandardOutput=append:/home/daviszinho/ChessEngineAPI/app.log
StandardError=append:/home/daviszinho/ChessEngineAPI/app.log

[Install]
WantedBy=multi-user.target
